*.a
*.o
/.deps/
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/rng-tools-*.tar.gz
/rng-tools-*/
/rng-tools-config.h
/rng-tools-config.h.in
/rngd
/rngd.8
/rngtest
/rngtest.1
/stamp-h1
/test-driver
/tests/*.log
/tests/*.trs
Makefile
Makefile.in
